body {
  margin: 40px 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f2f2f2;
}

.App {
  max-width: 640px;
  margin: 0 auto;
}
nav {
  background: #2f3640;
  padding: 10px 20px;
  color: #f53b57;
  display: flex;
  align-items: center;
}
nav h1 {
  margin: 0;
  margin-right: auto;
}
nav li {
  display: inline-block;
  margin: 0 0 0 16px;
  cursor: pointer;
}
nav a {
  color: #f53b57;
  text-decoration: none;
}
.book-list ul {
  padding: 0;
}
.book-list li {
  list-style-type: none;
  padding: 10px;
  background: #0097e6;
  margin: 10px 0;
  
  color: white;
  border-radius: 5px;
}
label, label span {
  display: block;
  margin: 6px 0;
}
input {
  padding: 6px;
  margin-bottom: 12px;
}
button {
  background: #ea8685;
  color: #fff;
  border: 0;
  padding: 6px 8px;
  cursor: pointer;
  position: absolute;
 
  
}
li button {
  background: #ea8685;
  color: #fff;
  border: 0;
  padding: 6px 8px;
  cursor: pointer;
  margin-left: 10px;
}
li.books{
  padding-bottom: 25px;
}
span{
  color: #34495e;
}